<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="creditosHipotecarios.My.MySettings.amcAppConnectionString"
            connectionString="Data Source=192.168.20.200;Initial Catalog=amcApp;User ID=seguimientoApp;Password=SA20012$%"
            providerName="System.Data.SqlClient" />
        <add name="creditosHipotecarios.My.MySettings.AMC_PRODUCCION_3004ConnectionString"
            connectionString="Data Source=192.168.20.200;Initial Catalog=AMC_PRODUCCION_3004;User ID=seguimientoApp;Password=SA20012$%"
            providerName="System.Data.SqlClient" />
        <add name="creditosHipotecarios.My.MySettings.amcAppConnectionString1"
            connectionString="Data Source=192.168.20.200;Initial Catalog=amcApp;User ID=seguimientoApp;Password=SA20012$%"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>